body {
	margin-left: 10px;
	margin-right: 10px;
	overflow-x:hidden;
}

/*button#getselected, button#clearselected {
	float: right;
	color: black;
	margin-left: 10px;
	background: rgb(0,200,0);
}
*/
.greenButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	background-color:#5FCF80;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #83c41a;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #86ae47;
}
.greenButton:hover {
	background-color:#7FEFA0;
}
.greenButton:active {
	position:relative;
	top:1px;
}

button#clearButton, button#loadPreferredTimesButton {
	float: left;
	/*background: rgb(0,200,0);*/
	/* Might need 10px of margin left here*/

}

#loadPreferredTimesButton {
	margin-left: 10px;
}

button#updatePreferredTimesButton, button#submitButton, button#respondButton, button#createMeetingButton {
	float: right;
	/*background: rgb(0,200,0);*/
	
}

button#modalcreate {
	margin-top: 10px;
	background: rgb(0,200,0);
}

.container-full {
	margin: 0 auto;
	width: 100%;
}

.heading {
	/*height: 300px;*/
	/*margin-top: 20px;*/
}

a {
	cursor: pointer;
}

.tooltipDiv {
	white-space: pre-line;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

#requestsBadge {
	background-color: rgb(0, 222, 0);
}

.titleDiv {
	border: solid #ddd 1px;
	background-color: inherit;
	display: block;
	padding: 10px 0px 10px 10px;
	color: black;
}

.starDiv {
	border: solid #ddd 1px;
	background-color: inherit;
	display: block;
	padding: 10px 0px 10px 0px;
	text-align: center;
	color: black;
}

div.rowDiv {
	background-color: #f9f9f9;
	cursor: pointer;
	color: #5fcf80;
	display: flex;
}

div.rowDiv:hover {
	background-color: lightgreen;
}

#myRespondedDiv, #myMeetingsDiv {
	overflow-y: auto;
	overflow-x: hidden;
	padding-right: 1px;
}

.scrollbar
{
	height: 200px;
	overflow-y: scroll;
}

.force-overflow
{
	min-height: 450px;
}

/* Styling for the first and last elements in meetings lists*/

.topLeftDiv {
	border-top-left-radius: 4px;
}

.topRightDiv {
	border-top-right-radius: 4px;
}

.bottomLeftDiv {
	border-bottom-left-radius: 4px;
}

.bottomRightDiv {
	border-bottom-right-radius: 4px;
}

.leftSection {
	/*border-right: dashed orange 3px;*/
	margin-top: 20px;
}

.rightSection {
	margin-top: 80px;
}

.legendDiv {
	margin-bottom: 10px;
}

/* am and pm divs for table */
#am, #pm {
	margin-right: -20px;
	text-align: right;
	color: black;
}

#am {
	padding-top: 57px;
}

#pm {
	padding-top: 119px;
}

#leftFea, #middleFea, #rightFea {
	margin-top: 0px;
}

.legendTable {
	pointer-events: none;
}