body {
	margin-left: 10px;
	margin-right: 10px;
	overflow-x:hidden;
}

button#getselected, button#clearselected {
	float: right;
	color: black;
	margin-left: 10px;
	background: rgb(0,200,0);
}

button#modalcreate {
	margin-top: 10px;
	background: rgb(0,200,0);
}

.container-full {
	margin: 0 auto;
	width: 100%;
}

.heading {
	height: 300px;
}

a {
	cursor: pointer;
}

.tooltipDiv {
	white-space: pre-line;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

#requestsBadge {
	background-color: rgb(0, 222, 0);
}

.titleDiv {
	border: solid #ddd 1px;
	background-color: inherit;
	display: block;
	padding: 10px 0px 10px 10px;
}

.starDiv {
	border: solid #ddd 1px;
	background-color: inherit;
	display: block;
	padding: 10px 0px 10px 0px;
	text-align: center;
}

/*.titleDiv:hover {
	border: solid #ddd 1px;
	background-color: #f9f9f9;
	display: block;
	padding: 10px 0px 10px 10px;
}

.starDiv:hover {
	border: solid #ddd 1px;
	background-color: #f9f9f9;
	display: block;
	padding: 10px 0px 10px 0px;
	text-align: center;
}*/

div.rowDiv {
	background-color: #f9f9f9;
	cursor: pointer;
	color: #5fcf80;
}

div.rowDiv:hover {
	background-color: lightgreen;
}

#myRespondedDiv {
	overflow-y: auto;
	overflow-x: hidden;
	padding-right: 1px;
}

.scrollbar
{
/*	margin-left: 30px;
	float: left;*/
	/*height: inherit;*/
	height: 250px;
/*	width: 65px;*/
	/*background: #F5F5F5;*/
	overflow-y: scroll;
/*	margin-bottom: 25px;*/
}

.force-overflow
{
	min-height: 450px;
}

.topLeftDiv {
	border-top-left-radius: 4px;
}

.topRightDiv {
	border-top-right-radius: 4px;
}

.bottomLeftDiv {
	border-bottom-left-radius: 4px;
}

.bottomRightDiv {
	border-bottom-right-radius: 4px;
}

/*
 *  STYLE 15 : From codepen.io/GhostRider/pen/GHaFw
 */

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
	border-radius: 10px;
}

::-webkit-scrollbar
{
	width: 4px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #FFF;
	background-image: -webkit-gradient(linear,
									   40% 0%,
									   75% 84%,
									   from(#4D9C41),
									   to(#19911D),
									   color-stop(.6,#54DE5D))
}

/*::-webkit-scrollbar-thumb:hover {
	background-color: #FFF;
	background-image: -webkit-gradient(linear,
									   40% 0%,
									   75% 84%,
									   from(#009C00),
									   to(#19911D),
									   color-stop(.6,#54DE5D))
}

::-webkit-scrollbar-thumb:active {
	background-color: #FFF;
	background-image: -webkit-gradient(linear,
									   40% 0%,
									   75% 84%,
									   from(#009C00),
									   to(#19911D),
									   color-stop(.6,#54DE5D))
}*/