body {
	margin-left: 10px;
	margin-right: 10px;
	overflow-x:hidden;
}

button#getselected, button#clearselected {
	float: right;
	color: black;
	margin-left: 10px;
	background: rgb(0,200,0);
}

button#modalcreate {
	margin-top: 10px;
	background: rgb(0,200,0);
}

.container-full {
	margin: 0 auto;
	width: 100%;
}

.heading {
	height: 300px;
}

a {
	cursor: pointer;
}

.tooltipDiv {
	white-space: pre-line;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

#requestsBadge {
	background-color: rgb(0, 222, 0);
}