table {
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

td, th {
	text-align: center;
	color: black;
}

table:hover {
	cursor: pointer;
}

td:hover {
	background: rgb(150,238,150);
}

td.selected {
	background: rgb(0,228,0);
}

.cell {
   padding: 0px 5px !important;
}