table {
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

td, th {
	text-align: center;
	color: black;
}

table:hover {
	cursor: pointer;
}

td:hover {
	background: rgb(150,238,150);
}

td.selected {
	background: rgb(0,228,0);
}

td.badtime {
	background: rgb(228,0,0);
}

.cell {
   padding: 0px 5px !important;
}

/* Tooltip souce code: http://jsfiddle.net/AndreaLigios/jtLbpy62/*/

[tooltip]:before {
    /* needed - do not touch */
    content: attr(tooltip);
    position: absolute;
    opacity: 0;
    
    /* customizable */
    transition: all 0.15s ease;
    padding: 10px;
    color: #333;
    border-radius: 10px;
    box-shadow: 2px 2px 1px silver;    
}

[tooltip]:hover:before {
    /* needed - do not touch */
    opacity: 1;
    
    /* customizable */
    background: lightgreen;
    margin-top: -50px;
    margin-left: 20px;    
}
 
[tooltip]:not([tooltip-persistent]):before {
    pointer-events: none;
} 