/* Tooltip souce code: http://jsfiddle.net/AndreaLigios/jtLbpy62/*/

[tooltip]:before {
    /* needed - do not touch */
    content: attr(tooltip);
    position: absolute;
    opacity: 0;
    
    /* customizable */
    /*transition: all 0.05s ease;*/
    padding: 5px;
    color: #FFF;
    border-radius: 10px;
    box-shadow: 2px 2px 1px silver;
    font-size: 12px;
}

[tooltip]:hover:before {
    /* needed - do not touch */
    opacity: 1;
    
    /* customizable */
    background: #004d80;
    margin-top: -20%;
    left: 25%;    
}
 
[tooltip]:not([tooltip-persistent]):before {
    pointer-events: none;
} 

.tooltipDiv {
    white-space: pre-line;
}